@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Add this CSS in your stylesheet or style block */
.marquee-container {
  display: flex;
  gap: 20px;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {  
    transform: translateX(-100%);
  }
}
